extends ../layout

block content
  .modal
    h1.text.center 設定

    .settings-group
      h3 ユーザ設定
      .row
        label 名前
        input(type="text")

      .row
        label メールアドレス
        input(type="text")

    .settings-group
      h3 アプリ設定
      .row
        label プロジェクト保存先
        input(type="text")

    input(type="submit" value="保存")
