@charset "UTF-8";
html, body, div, p, img, header, footer, nav, section, article, aside, figure, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-shadow: none; }

a {
  text-decoration: none; }

.center {
  text-align: center; }

body {
  margin: 0;
  padding: 0;
  min-width: 520px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  font-size: 20px;
  background: #F0F2F6; }

header {
  width: 100%;
  height: 83px;
  background: url(images/common/bg-header.png);
  text-align: center; }
  header h1 {
    font-size: 13px;
    font-weight: normal;
    padding-top: 2px;
    color: #444; }
  header nav {
    margin: 0 auto;
    width: 422px;
    text-align: center;
    overflow: hidden; }
    header nav img {
      padding-top: 5px; }
    header nav p {
      margin-top: -5px;
      font-size: 12px;
      color: #444; }
    header nav .create {
      width: 211px;
      height: 59px;
      float: left;
      cursor: pointer; }
      header nav .create:hover {
        opacity: 0.7; }
    header nav .clone {
      width: 211px;
      height: 59px;
      float: left;
      cursor: pointer; }
      header nav .clone:hover {
        opacity: 0.7; }

.main {
  position: relative; }
  .main a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden; }
    .main a:hover {
      background: #DDD;
      color: white; }
    .main a .title {
      padding-top: 10px;
      padding-bottom: 5px;
      float: left;
      padding-left: 20px;
      width: 50%; }
    .main a h2 {
      padding-top: 5px;
      padding-left: 40px;
      height: 34px;
      font-size: 16px;
      font-weight: normal;
      color: #333;
      background: url(images/menu/git-blue.png) no-repeat; }
    .main a .metadata {
      float: right;
      width: 40%;
      margin-right: 30px;
      text-align: right; }
      .main a .metadata p.path {
        margin-top: 5px;
        font-size: 12px;
        color: #666; }
      .main a .metadata p.percentage {
        margin-top: 10px;
        font-size: 14px;
        color: #6080A0; }
        .main a .metadata p.percentage span {
          padding-left: 20px;
          font-size: 16px;
          font-weight: bold;
          color: #444; }
  .main .label-area {
    width: 100%;
    height: 29px;
    background: url(images/common/label-area.png);
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    color: #545454;
    font-size: 13px; }
    .main .label-area ul {
      overflow: hidden; }
      .main .label-area ul li {
        float: left;
        line-height: 2.3em;
        padding-left: 10px;
        padding-right: 10px;
        background: url(images/common/label-area-line.png) no-repeat;
        background-position: right center; }
  .main .upper-area {
    min-width: 750px;
    height: 300px;
    overflow: hidden; }
    .main .upper-area .tree {
      float: left;
      width: 70%;
      height: 300px;
      background: #F0F2F6;
      overflow: scroll; }
      .main .upper-area .tree .commit {
        padding-top: 15px;
        padding-bottom: 15px;
        overflow: hidden; }
        .main .upper-area .tree .commit.even {
          background: #DDFFE1; }
        .main .upper-area .tree .commit .category {
          float: left;
          padding: 10px; }
          .main .upper-area .tree .commit .category.blue {
            color: #0085B2; }
            .main .upper-area .tree .commit .category.blue .circle {
              background: #0085B2; }
          .main .upper-area .tree .commit .category.green {
            color: #008C8C; }
            .main .upper-area .tree .commit .category.green .circle {
              background: #008C8C; }
          .main .upper-area .tree .commit .category.orange {
            color: #FF7A4D; }
            .main .upper-area .tree .commit .category.orange .circle {
              background: #FF7A4D; }
          .main .upper-area .tree .commit .category p {
            float: left;
            width: 70px;
            text-align: right; }
          .main .upper-area .tree .commit .category .circle {
            display: inline-block;
            float: left;
            margin-top: 10px;
            margin-left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 5px; }
        .main .upper-area .tree .commit .comment {
          float: left;
          margin-top: 7px;
          margin-left: 20px; }
          .main .upper-area .tree .commit .comment p {
            width: auto;
            padding: 5px;
            padding-left: 9px;
            padding-right: 9px;
            background: white;
            color: #535353;
            font-size: 16px;
            letter-spacing: 1.3px;
            text-align: left;
            border-radius: 5px;
            border: 1px solid #CCC;
            position: relative; }
            .main .upper-area .tree .commit .comment p:before {
              position: absolute;
              top: 10px;
              left: -7px;
              display: block;
              content: "";
              width: 0;
              border: 6px solid transparent;
              border-right-color: #CCC;
              border-left-width: 0; }
            .main .upper-area .tree .commit .comment p:after {
              position: absolute;
              top: 6px;
              left: -5px;
              display: block;
              content: "";
              width: 0;
              border: 10px solid transparent;
              border-right-color: white;
              border-left-width: 0; }
        .main .upper-area .tree .commit .user {
          float: left;
          margin-left: 20px; }
          .main .upper-area .tree .commit .user p {
            font-size: 14px;
            color: #444;
            line-height: 3.4em; }
        .main .upper-area .tree .commit .date {
          float: left;
          margin-left: 20px; }
          .main .upper-area .tree .commit .date p {
            font-size: 12px;
            color: #777;
            line-height: 4.1em; }
    .main .upper-area .progress {
      float: right;
      width: 30%;
      height: 300px;
      background: #EFEFEF; }
      .main .upper-area .progress .percentage {
        font-size: 80px;
        color: #00B2B2;
        text-align: center; }
      .main .upper-area .progress .todo {
        margin-top: -15px;
        font-size: 22px;
        color: #FF7373;
        text-align: center; }
        .main .upper-area .progress .todo span {
          font-size: 32px; }
      .main .upper-area .progress .next {
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
        width: 225px;
        font-size: 16px;
        color: #535353;
        background: #DDD;
        border: 1px solid #CCC;
        border-radius: 5px; }
      .main .upper-area .progress .will {
        margin: 0 auto;
        width: 230px;
        font-size: 14px;
        color: #535353;
        text-align: right; }
        .main .upper-area .progress .will span {
          font-size: 25px;
          font-weight: bold;
          color: #0085B2; }
  .main .lower-area {
    height: auto;
    overflow: hidden; }
    .main .lower-area .files {
      float: left;
      width: 50%;
      height: 200px;
      overflow: scroll; }
      .main .lower-area .files .file {
        display: block;
        padding: 5px;
        height: 21px;
        overflow: hidden;
        font-size: 13px;
        color: #333; }
        .main .lower-area .files .file.even {
          background: #DDD; }
        .main .lower-area .files .file.selected, .main .lower-area .files .file:hover {
          background: #BBB;
          cursor: pointer; }
        .main .lower-area .files .file .icon {
          float: left;
          margin-top: 2px; }
        .main .lower-area .files .file .name {
          float: left;
          margin-left: 10px;
          width: 100px; }
        .main .lower-area .files .file .path {
          float: left;
          margin-left: 10px; }

#modal {
  display: none; }
  #modal .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.9; }
  #modal .create-window {
    position: absolute;
    top: 0;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    padding: 20px;
    background: url(images/common/bg-clicked.png);
    border: 1px solid #BBB;
    z-index: 30; }
    #modal .create-window li {
      padding: 5px;
      margin-bottom: 10px;
      margin-right: 5%;
      color: #444;
      font-size: 13px;
      overflow: hidden; }
      #modal .create-window li p {
        display: block;
        padding-top: 3px;
        float: left;
        text-align: right; }
      #modal .create-window li input {
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
        width: 77%;
        height: 22px;
        border-radius: 3px;
        float: left;
        border: none;
        box-shadow: 0 0 2px #444; }
        #modal .create-window li input.repository {
          width: 50%;
          margin-left: 23px; }
        #modal .create-window li input.bookmark {
          width: 50%; }
        #modal .create-window li input.path {
          margin-left: 23px; }
    #modal .create-window .buttons input {
      float: right;
      margin-right: 10px;
      font-size: 18px; }
