doctype html
html
  head
    title "fooo"
    block head
    script(src="../../bower_components/jquery/dist/jquery.min.js")
    script(src="../js/global-events.js")
  body
    #content
      block content
