.tree
  - var i = 5
  while i--
    .commit
      //- .category.blue
      //-   p api
      //-   .circle
      .date
        p 2014/04/05 04:19
      .user
        img(src="../../images/manage/user-sample.png", alt="hajipion")
      .comment
        p facebookのAPI完了
    .commit.even
      //- .category.green
      //-   p dev
      //-   .circle
      .date
        p 2014/04/04 13:30
      .user
        img(src="../../images/manage/user-sample.png", alt="hajipion")
      .comment
        p メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化
    .commit.auto
      //- .category.blue
      //-   p api
      //-   .circle
      .date
        p 2014/04/05 04:19
      .user
        img(src="../../images/manage/user-autocommitter.png", alt="AutoCommitter")
      .comment
        p バックアップを作成
    .commit.even
      //- .category.green
      //-   p dev
      //-   .circle
      .date
        p 2014/04/04 13:30
      .user
        img(src="../../images/manage/user-sample.png", alt="hajipion")
      .comment
        p メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化 メインビジュアルをhtml/CSS化