.tree
  .commit
    .category.blue
      p api
      .circle
    .comment
      p facebookのAPI完了
    .user
      p hajipion
    .date
      p 2014/04/05 04:19

  .commit.even
    .category.green
      p dev
      .circle
    .comment
      p メインビジュアルをhtml/CSS化
    .user
      p hajipion
    .date
      p 2014/04/04 13:30
  .commit
    .category.orange
      p design
      .circle
    .comment
      p 画像をimagesフォルダに全て書き出し
    .user
      p hajipion
    .date
      p 2014/04/02 13:00
  .commit.even
    .category.orange
      p design
      .circle
    .comment
      p 外観をPhotoshopで全部つくる
    .user
      p hajipion
    .date
      p 2014/04/01 22:22
