header.main-header
  //- h1 ブックマーク
  nav
    .nav-create(ng-click="createRepository()")
      img(src="../../images/menu/nav-create.png")
      p さいしょからつくる
    .nav-clone(ng-click="createRepository()")
      img(src="../../images/menu/nav-clone.png")
      p つづきから管理する
