header.main-header
  //- h1 ブックマーク
  nav
    .nav-create(ng-click="createRepository()")
      img(src="../../images/menu/nav-create.png")
      p リポジトリを作成
    .nav-clone
      img(src="../../images/menu/nav-clone.png")
      p リポジトリをクローン
