header.main-header
  //- h1 auto-committer-nw
  nav
    .nav-story(ng-class="{selected: page == 'commits-list'}")
      a(href="#/repositories/{{repoInfo._id}}")
        img(src="../../images/manage/nav-story.png")
        p ストーリー
    .nav-task(ng-class="{selected: page == 'tasks-list'}")
      a(href="#/repositories/{{repoInfo._id}}/tasks")
        img(src="../../images/manage/nav-todo.png")
        p タスク
