header.main-header
  //- h1 auto-committer-nw
  nav
    .nav-story
      img(src="../../images/manage/nav-story.png")
      p ストーリー
    .nav-task
      a(href="#/repositories/{{repository._id}}/tasks")
        img(src="../../images/manage/nav-todo.png")
        p タスク
