header
  h1 auto-committer-nw
  nav
    .clone
      img(src="../images/manage/nav-setting.png")
      p 設定
    .create
      a(href="#/repositories/{{repository._id}}/tasks")
        img(src="../images/manage/nav-todo.png")
        p タスク管理
