.create-window
  ul
    li
      p 名前
      input.repository(type="text" name="repository")
    li
      p URL
      input.bookmark(type="text" name="bookmark")
  .buttons
    input(type="submit" value="新規作成" disabled="disabled")
    input(type="button" value="キャンセル")
