.create-window
  ul
    li
      p 名前
      input.repository(type="text" ng-model="name")
    li
      p URL
      input.bookmark(type="text" ng-model="url")
  .buttons
    input(type="submit" value="新規作成" ng-click="create()")
    input(type="button" value="キャンセル" ng-click="close()")
