.create-window
  h1.setting-title プロジェクトをさいしょからつくる
  h2.setting-description プロジェクトをさいしょからつくる場合はプロジェクトの「名前」を入力して「新規作成」ボタンを押して下さい。
  ul.setting-area
    li.setting-area-list
      p 名前：
      input.repository(type="text" ng-model="name")
  .buttons-window-action
    input(type="submit" value="新規作成" ng-click="create()")
    input(type="button" value="キャンセル" ng-click="close()")
  h1.setting-title プロジェクトをつづきから管理する
  h2.setting-description すでにGitHubにあるプロジェクトをつづきから管理する場合は、GitHubのサイトからそのプロジェクトのclone URLをコピーして「URL」にペーストし、「新規作成」ボタンを押して下さい。「名前」は自由に変更できます。
  ul.setting-area
    li.setting-area-list
      p 名前：
      input.repository(type="text" ng-model="name"  )
    li.setting-area-list
      p URL：
      input.bookmark(type="text" ng-model="url")
  .buttons-window-action
    input(type="submit" value="新規作成" ng-click="create()")
    input(type="button" value="キャンセル" ng-click="close()")
