.story-progress
  p.percentage {{repoInfo.progress}}%
  p.bar
    progress(max='100' value='{{repoInfo.progress}}')
  p.todo
    | タスク
    span {{tasks.done.length}}
    | /{{getTasks().length}}
  div(ng-if="next.task != null")
    p.next {{next.task.content}}
    p.will
      | を完了すると……
      span {{next.progress}}%

  .open
    button(ng-click="openDir(repoInfo.path)") {{openText}}
