block content
  include ../common/manage_header

  main#main.main
    include ../commits/list_header

    .upper-area
      include ../commits/list

      include progress

      //- .label-area
      //-   ul
      //-     li ファイル名
      //-     li パス
      //-     li ファイルの内容

      //- .lower-area
      //-   include ../commits/edited_files_p

        //- .codes
        //-   include ../commits/file_diff_p
